extends ../../../layouts/header
block content
    .container
        h2 List role granted to role
        
        if errors
            each error in errors
                .alert.alert-danger= error
        br
        div 
            table.table.table-hover.table-bordered
                thead
                    tr
                        th Role
                        th Granted role
                        th Admin option
                        th Common
                        th Inherited
                        th 
                tbody
                    if list
                        each priv in list
                            tr
                                td=priv.role
                                td=priv.granted_role
                                td=priv.admin_option
                                td=priv.common
                                td=priv.inherited
                                td
                                    a.btn.btn-primary(href="/roles/r2r/revoke?grantee=" + priv.role + "&granted_role=" + priv.granted_role + "&source=/roles/r2r/list") Revoke
        br
        a.btn.btn-primary(href="/roles/r2r/grant") Grant