extends ../../layouts/header
block content
    .container
        h2 List privilege
        
        if errors
            each error in errors
                .alert.alert-danger= error
        div USER_SYS_PRIVS
            table.table.table-hover.table-bordered
                thead
                    tr
                        th USERNAME
                        th PRIVILEGE
                        th ADMIN_OPTION
                        th COMMON
                        th INHERITED
                tbody
                    each profile in list_SYS_PRIVS
                        tr
                            td=profile.USERNAME
                            td=profile.PRIVILEGE
                            td=profile.ADMIN_OPTION
                            td=profile.COMMON
                            td=profile.INHERITED
        br
        div USER_TAB_PRIVS
            table.table.table-hover.table-bordered
                thead
                    tr
                        th GRANTEE
                        th OWNER
                        th TABLE_NAME
                        th GRANTOR
                        th PRIVILEGE
                        th GRANTABLE
                        th HIERARCHY
                        th COMMON
                        th TYPE
                        th INHERITED

                tbody
                    each profile in list_TAB_PRIVS
                        tr
                            th=profile.GRANTEE
                            th=profile.OWNER
                            th=profile.TABLE_NAME
                            th=profile.GRANTOR
                            th=profile.PRIVILEGE
                            th=profile.GRANTABLE
                            th=profile.HIERARCHY
                            th=profile.COMMON
                            th=profile.TYPE
                            th=profile.INHERITED

        br
        div  USER_ROLE_PRIVS
            table.table.table-hover.table-bordered
                thead
                    tr
                        th USERNAME
                        th GRANTED_ROLE
                        th ADMIN_OPTION
                        th DELEGATE_OPTION
                        th DEFAULT_ROLE
                        th OS_GRANTED
                        th COMMON
                        th INHERITED

                tbody
                    each profile in list_ROLE_PRIVS
                        tr
                            th=profile.USERNAME
                            th=profile.GRANTED_ROLE
                            th=profile.ADMIN_OPTION
                            th=profile.DELEGATE_OPTION
                            th=profile.DEFAULT_ROLE
                            th=profile.OS_GRANTED
                            th=profile.COMMON
                            th=profile.INHERITED
               
