extends ../../../layouts/header
block content
    .container
        h2 List sys privileges
        
        if errors
            each error in errors
                .alert.alert-danger= error
        br
        div 
            table.table.table-hover.table-bordered
                thead
                    tr
                        th USERNAME
                        th PRIVILEGE
                        th ADMIN_OPTION
                        th COMMON
                        th INHERITED
                        th 
                tbody
                    if list
                        each priv in list
                            tr
                                td=priv.USERNAME
                                td=priv.PRIVILEGE
                                td=priv.ADMIN_OPTION
                                td=priv.COMMON
                                td=priv.INHERITED
                                td
                                    a.btn.btn-primary(href="/privileges/sys/revoke?priv=" + priv.PRIVILEGE + "&username=" + priv.USERNAME + "") Revoke
        br
        a.btn.btn-primary(href="/privileges/sys/grant") Grant