extends ../../../layouts/header
block content
    .container
        h2 List table privilege
        
        if errors
            each error in errors
                .alert.alert-danger= error
        
         
        table.table.table-hover.table-bordered
            thead
                tr
                    th GRANTEE
                    th OWNER
                    th TABLE_NAME
                    th GRANTOR
                    th PRIVILEGE
                    th GRANTABLE
                    th TYPE
                    th INHERITED
                    th

            tbody
                each priv in list
                    tr
                        th=priv.GRANTEE
                        th=priv.OWNER
                        th=priv.TABLE_NAME
                        th=priv.GRANTOR
                        th=priv.PRIVILEGE
                        th=priv.GRANTABLE
                        th=priv.TYPE
                        th=priv.INHERITED
                        th
                            a.btn.btn-primary(href="/privileges/tab/revoke?priv=" + priv.PRIVILEGE + "&table_name=" + priv.TABLE_NAME + "&grantee=" + priv.GRANTEE + "") Revoke
       
        br
        a.btn.btn-primary(href="/privileges/tab/grant") Grant
