extends ../../layouts/header
block content
    .container
        h2 List users

        if errors
            each error in errors
                .alert.alert-danger= error
        
        table.table.table-hover.table-bordered
            thead
                tr
                    th Username
                    th Email
                    th Name
                    th Address
                    th
                    th 
            tbody
                if(users)
                    each user in users
                        tr
                            td= user.username
                            td= user.email
                            td= user.name
                            td= user.address
                            td
                                a.btn.btn-light(href='/users/userdetail/' + user.username) View
                            td
                                a.btn.btn-light(href='/users/delete/' + user.username) Delete
        
        a.btn.btn-primary(href="/users/createuser") Create user
